[Unit]
Description=Linux Daemon Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/linux_daemon_service -config /etc/linux_daemon_service/config.yaml

# RabbitMQ 환경 변수
Environment="RABBITMQ_URL=amqp://guest:guest@10.0.0.46:5672/"
Environment="RABBITMQ_EXCHANGE=image_analysis"
Environment="RABBITMQ_REQUEST_QUEUE=image_analysis_requests"
Environment="RABBITMQ_REQUEST_ROUTING_KEY=analysis.requests"
Environment="RABBITMQ_RESULT_QUEUE=image_analysis_results"
Environment="RABBITMQ_RESULT_ROUTING_KEY=analysis.results"

# 재시작 설정
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target